{% extends "base.html" %}

{% block title %}Create Course{% endblock %}

{% block content %}
<div class="container">
    <div class="p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-body" href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="{% url 'course.index' %}">Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <div class="d-flex">
            <span class="fs-3">
                <a href="{% url 'course.index' %}" class="text-decoration-none text-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="currentColor"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg>
                </a>
                Create Course
            </span>

            <button type="button" class="btn btn-primary ms-auto" id="submitBtn" disabled>Save</button>
        </div>
    </div>

    <form class="p-3" id="courseForm" method="post" action="{% url 'course.create' %}">
        {% csrf_token %}
        <div class="row mb-5">
            <div class="col">
                <label for="course_name" class="form-label required">Name</label>
                <input type="text" class="form-control" id="course_name" name="name" required>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <label for="code" class="form-label required">Course code</label>
                <input type="text" class="form-control" id="code" name="code" required>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <label for="code" class="form-label">Status</label>
                <select id="status" name="status" class="form-select">
                    <option value="0">Inactive</option>
                    <option value="1">Active</option>
                </select>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <span class="fs-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="currentColor"><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM8 16V4h12l.002 12H8z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8zm11-2h-2v3h-3v2h3v3h2v-3h3V9h-3z"></path></svg>
                    Section
                </span>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-secondary" id="addSectionBtn">Add Section</button>
            </div>
        </div>

        <div class="mb-3" id="sections">
            {{ section_formset.management_form }}
            {% for form in section_formset %}

            <div class="border card mb-3 section-template">
                <a class="icon-btn text-body-secondary"><i class="bi position-absolute bi-x" style="right: 1rem; top: 0.5rem;"></i></a>
                <div class="row card-body position-relative">
                    <div class="col-sm-4">
                        <label for="id_sections-{{ forloop.counter0 }}-section_code" class="form-label required">Section code</label>
                        <input type="text" id="id_sections-{{ forloop.counter0 }}-section_code" class="form-control" name="sections-{{ forloop.counter0 }}-section_code" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="id_sections-{{ forloop.counter0 }}-section_type" class="form-label">Type</label>
                        <select class="form-select" id="id_sections-{{ forloop.counter0 }}-section_type" name="sections-{{ forloop.counter0 }}-section_type">
                            <option value="lecture">Lecture</option>
                            <option value="tutorial">Tutorial</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="id_sections-{{ forloop.counter0 }}-section_duration" class="form-label required">Duration</label>
                        <input type="number" id="id_sections-{{ forloop.counter0 }}-section_duration" class="form-control" step='1' min="0" name="sections-{{ forloop.counter0 }}-section_duration" required>
                        <div class="form-text">Enter the duration in minutes</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- <div class="row">
            <div class="col-12 text-end">
                <small class="text-body-secondary me-1"><i class="bi bi-info-circle"></i> Note that sections will be created based on current course</small>
                <button type="submit" class="ms-auto btn btn-primary">Create</button>
            </div>
        </div> -->
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    $('#sections').find('.card').eq(0).find('i').css('display', 'none');

    $(document).ready(function(){
        $('#addSectionBtn').on('click', function(){
            const sectionCount = $('#sections .card').length;
            const newSection = $('.section-template:first').clone().removeClass('section-template').hide();

            newSection.find('i').show();

            newSection.find('input').each(function() {
                const name = $(this).attr('name');
                const newName = name.replace(/-\d+-/, `-${sectionCount}-`);
                $(this).attr('name', newName);
                $(this).attr('id', `id_${newName}`);
                $(this).val('');

                $(this).removeClass('is-invalid')
            });

            newSection.find('select').each(function() {
                const name = $(this).attr('name');
                const newName = name.replace(/-\d+-/, `-${sectionCount}-`);
                $(this).attr('name', newName);
                $(this).attr('id', `id_${newName}`);
                $(this).val('lecture');

                $(this).removeClass('is-invalid')
            });

            newSection.find('label').each(function() {
                const forAttr = $(this).attr('for');
                const newFor = forAttr.replace(/-\d+-/, `-${sectionCount}-`);
                $(this).attr('for', newFor);
            });

            $('#sections').append(newSection.fadeIn('fast'));

            newSection.find('input, select').on('change input', function() {
                checkInputs();
            });

            // Update TOTAL_FORMS value
            const totalForms = $('#id_sections-TOTAL_FORMS');
            totalForms.val(sectionCount + 1);
        })

        $('#sections').on('click', '.icon-btn', function() {
            var $card = $(this).closest('.card');

            $card.remove();

            const sectionCount = $('#sections .card').length;
            const totalForms = $('#id_sections-TOTAL_FORMS');
            totalForms.val(sectionCount);
        });

        var $form = $('#courseForm')
        var $submitBtn = $("#submitBtn")

        var validator = $form.validate({
            errorClass: 'invalid-feedback',
            highlight: function(element) {
                $(element).addClass('is-invalid')
            },
            unhighlight: function(element) {
                $(element).removeClass('is-invalid')
            },
            onkeyup: function(element) {
                $(element).valid();
            },
            submitHandler: function(form) {
                $.ajax({
                    url: $(form).attr('action'),
                    type: 'POST',
                    data: $(form).serialize(),
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                text: response.message,
                                icon: "success",
                                background: 'var(--bs-body-bg)',
                                color: 'var(--bs-body-color)',
                                confirmButtonColor: 'var(--bs-primary)',
                                confirmButtonText: 'Ok, got it!'
                            }).then((result) => {
                                window.location.href = "{% url 'course.index' %}"
                            });
                        } else {
                            var errors = response.errors;
                            validator.showErrors(errors)
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            text: error,
                            icon: "error",
                            background: 'var(--bs-body-bg)',
                            color: 'var(--bs-body-color)',
                            confirmButtonColor: 'var(--bs-primary)',
                            confirmButtonText: 'Close'
                        }).then((result) => {
                            window.location.href = "{% url 'course.index' %}"
                        });
                        // Handle AJAX error
                        // console.error('AJAX Error:', status, error);
                    }
                });
                return false; // Prevent default form submission
            }
        });

        var $requiredInputs = $('input[required]');
        console.log(123, $requiredInputs)
        function checkInputs() {
            var allFilled = true;
            $('input[required]:visible').each(function() {
                if ($(this).val() === '') {
                    allFilled = false;
                    return false; // Break the loop
                }
            });
            $submitBtn.prop('disabled', !allFilled);
        }

        $('input[required]:visible').on('input change keyup', function() {
            checkInputs(); // Call this function every time any required input changes
        });

        $submitBtn.on('click', function(){
            if (validator.form()){
                $form.find('input:disabled, select:disabled').removeAttr('disabled');
                $form.submit()
            }
        })
    })

</script>
{% endblock javascript %}