{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<div class="container">
    <h1>Generation Progress</h1>
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div id="progress-messages" class="mt-3"></div>
    <div id="calendar"></div>
</div>

{% endblock %}

{% load static %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script>
    const progressBar = document.getElementById('progress-bar');
    const progressMessages = document.getElementById('progress-messages');
    const resultDiv = document.getElementById('result');
    const socket = new WebSocket('ws://' + window.location.host + '/ws/ga_progress/');

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        let message = data.message
        console.log(123,data)
        if (message.completed) {
            progressBar.style.width = '100%';
            progressBar.setAttribute('aria-valuenow', 100)

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                allDaySlot: false,
                slotMinTime: '08:00:00',
                slotMaxTime: '18:00:00',
                headerToolbar: {
                    left: '',
                    center: '',
                    right: ''
                },
                hiddenDays: [0, 6], // Hide Sunday (0) and Saturday (6)
                dayHeaderFormat: { weekday: 'long' }, // Show only the weekday names
                events: [
                    {
                        title: 'Math Class',
                        daysOfWeek: [1], // Monday
                        startTime: '10:00:00',
                        endTime: '11:00:00'
                    },
                    {
                        title: 'Science Class',
                        daysOfWeek: [2], // Tuesday
                        startTime: '12:00:00',
                        endTime: '13:00:00'
                    },
                    {
                        title: 'History Class',
                        daysOfWeek: [3], // Wednesday
                        startTime: '14:00:00',
                        endTime: '15:00:00'
                    },
                    {
                        title: 'Art Class',
                        daysOfWeek: [4], // Thursday
                        startTime: '09:00:00',
                        endTime: '10:00:00',
                        classNames: ['vip'],
                        extendedProps: {
                            id: 4,
                            ticketType: 'VIP'
                        }
                    }
                ]
            });

            calendar.render();

            // Display the result here
            // const resultHTML = `
            //     <h2>Student Timetable</h2>
            //     <pre>${JSON.stringify(message.student_timetable, null, 2)}</pre>
            //     <h2>Instructor Schedule</h2>
            //     <pre>${JSON.stringify(message.instructor_schedule, null, 2)}</pre>
            //     <h2>Class Availability</h2>
            //     <pre>${JSON.stringify(message.class_availability, null, 2)}</pre>
            // `;
            // resultDiv.innerHTML = resultHTML;
        } else {
            // Update progress messages
            const p = document.createElement('p');
            p.textContent = `Generation ${message.generation}: Best Fitness = ${message.best_fitness}, Conflict: ${message.conflict}`;
            progressMessages.appendChild(p);

            // Update the progress bar
            const progressPercentage = (message.best_fitness / 0.7) * 100;
            progressBar.style.width = `${progressPercentage}%`;
            progressBar.setAttribute('aria-valuenow', progressPercentage);
        }
    };

    socket.onclose = function(event) {
        console.error('WebSocket closed unexpectedly');
    };
</script>
{% endblock javascript %}