<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex h-100 flex-column justify-content-center align-items-center">
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <i class="bi bi-table" style="font-size: 3.5rem;"></i>
    <div class="mx-auto">
        You don't have any schedules yet.
    </div>

    <form action="{% url 'ga_view' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Test</button>
    </form>
    
    <!-- <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div> -->
</div>

{% endblock %}
